body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.form-label {
	float: left;
	clear: left;
	padding-right: 20px;
	width: 25%;
	text-align: right;
}

.form-input {
	float: left;
	width: 300px;
}
